$phone-min-width:             320px;
$phone-max-width:             767px;
$tablet-min-width:            768px;
$desktop-width:              1025px;
$desktop-huge:               1800px;


// mixins --------------------------------

@mixin  tooSmall{
  @media(max-width: 310px) {
    @content;
  }
}

// Phone Hochformat
@mixin phoneportrait {
  @media(min-width: #{$phone-min-width}) and (max-width: #{$phone-max-width}) {
    @content;
  }
}

// Screen over 1025 px
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// HUGE Screens for decent people with fullHD or more
@mixin desktopBig {
  @media  (min-width:  #{$desktop-huge}){
    @content;
  }
}


// ----General declarations & FLX Explicit resets
/*---------------------------------------------*/
*{
  box-sizing:border-box;
}

html, body {
  font-size:100%;
  line-height:normal;
  overflow:hidden;
}
// no dotted lines
a:link, a:hover, a:visited, a:active{
  outline: 0;
}


//animations--------

.cart-item.ng-enter {
  -webkit-transition:0.6s ease-out all;
  transition:0.6s  ease-out all;
  background-color: #ffa000 ;
  color: rgba(33, 33, 33, 0.3);
}
.cart-item.ng-enter-active {
  background-color: white;
}

/* my buttons */
.btn{
  background: #ff8f00;
  color: #F2F2F2;
  transition:0.2s  ease-out all;
}
.btn:focus{
  background: #e65100 ;
  color: #FFF;
  transition:0.5s  ease-out all;
  }

.btn:hover{
  background: #f57c00 ;
  color: #FFF;
  transition:0.3s  ease-out all;
}