<footer class="page-footer amber accent-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">What is this all about?</h5>
                <p class="grey-text text-lighten-4">FLX is a pseudonym for Felix Adam.
                    He is a Frontend- Webdeveloper and tries out new Web- Technology.<br />
                In this Single-Page App he used following Frameworks and Tech-Stacks:<br />
                    Angular-JS, Gulp Task Runner -the streaming build system, Material Design - the new visual language by Google, Node-JS & npm.
                </p>
                <br/>
                <small>Plot, characters and locations are partly imaginary and don't comply with the reality in any way. </small>
                <small>No Electrons were harmed due the developing process</small>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Internal Links </h5>
                <ul>
                    <li><a class="white-text" href="#/whatthehell">What about?</a> </li>
                </ul>
                <h5 class="white-text">External Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://angularjs.org/">Angular JS</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.google.com/design/spec/material-design/introduction.html">Material Design</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://gulpjs.com/">Gulp JS</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.npmjs.com/">npm JS</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2015 No Copyright at all <small>-take some Code snipplets if you like </small>
            <a class="grey-text text-lighten-4 right" href="http://www.web-kanal.ch">Web-kanal</a>
        </div>
    </div>
</footer>