
<h2 class="header">Pizza App</h2>
<h5>welcome to our virtual Pizzaria</h5>
    <p class="grey-text text-darken-3 lighten-3">
    This is a FLX - virtual Pizza <strong>Single Page Application</strong> witch makes you hungry.
    Appetite for <strong>Google Material Design</strong>?
    <br />
    Or do you like some ng-ingredients?
    <br />
    We have baken it with the finest Angular-js Framework components.
    <br />
    <h6>Thirsty Too?</h6>

    Take some nice <strong>gulp-tasks</strong> and enjoy your virtual meal.
</p>
<div>
    <a href="#/order" class="btn btn-large orange waves-effect">Start here</a>
</div>